    <div class="row">
      <div id="d11" class="col-md-6" style="padding-left: 10%"><h1 ID="titre1" style="font-family: Cambria;"></h1>

        <div style="background-color:white;border-radius: 2%;padding-left:4%">
          <div>
          <h1 ID="titre4" style="font-family: Cambria;"></h1>
          <H2 style="font-family: Cambria;color:#614E1A">Consultation d'un compte</H2>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1" style="font-family: Cambria">Code Compte </label>
              <input type="email" (change)="setCode($event)"   class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your code with anyone else.</small>
            </div>
          </form>
          <p ><button STYLE="color:white ;font-family: Cambria;background-color:#854e56 " class="btn" (click)="getAccountInfo()">Afficher</button></p>
            <p style="color:white">test</p>
        </div>
        </div>
      </div>

    </div>
    <div *ngIf="compteDetail">
    <div class="row" style="background-color:lightgray">
      <div class="col-md-6" style="padding-left:30%;width: 70%;border-radius:2%"><h2  style="font-family: Cambria;border-radius:3%;text-align: center;color: white;background-color:#854e56">Détail du compte</h2>

        <div style="background-color:white;border-radius: 2%;padding-left:4%">
          <div>
            <form>
              <h2 class="btn" *ngIf="compteDetail">Code compte:{{compteDetail.numCompte}}</h2><br>
             <h2 class="btn" *ngIf="compteDetail">Solde :{{compteDetail.solde}}</h2><br>
              <h2 class="btn" *ngIf="compteDetail">Date Création :{{compteDetail.dateCreation}}</h2><br>
              <h2 class="btn" *ngIf="compteDetail">Client :{{compteDetail.client.nom}} {{compteDetail.client.prenom}}</h2><br>
              <h2 class="btn" *ngIf="compteDetail.decouverAutorise">Type Compte : Compte Epargne   decouverAutorise  :{{compteDetail.decouverAutorise}}</h2>
              <h2 class="btn" *ngIf="compteDetail.tauxInteret">Type Compte : Compte Courant   Taux Interet  :{{compteDetail.tauxInteret}}</h2><br>
            </form>

          </div>
        </div>
      </div>

    </div>
    </div>
