<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <title>Animated Sidebar Menu | CodingLab</title>
  <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>


</head>
<body >
<div class="wrapper">
  <input type="checkbox" id="btn" hidden>
  <label for="btn" class="menu-btn">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times"></i>
  </label>
  <nav id="sidebar">
    <div class="title">
      <img src="assets/images/logo-removebg-preview-removebg-preview.png" style="width:50%">
     <h4 style="font-family: Cambria;">Bank of morroco</h4>
    </div>
    <ul class="list-items">
      <li><a routerLink="/banque" style="font-family: Cambria"><i class="fas fa-home"></i>Acceuil</a></li>
      <li><a href="#" style="font-family: Cambria"><i class="fas fa-sliders-h"></i>Profil</a></li>
      <li><a routerLink="/compte" style="font-family: Cambria"><i class="fas fa-address-book"></i>Comptes</a></li>
      <li><a href="#" style="font-family: Cambria"><i class="fas fa-cog"></i>Virements</a></li>
      <li><a href="#" style="font-family: Cambria"><i class="fas fa-stream"></i>Transferts Cash</a></li>
      <li><a routerLink="/paiements" style="font-family: Cambria"><i class="fas fa-user"></i>Paiements et Factures</a></li>
      <li><a href="#" style="font-family: Cambria"><i class="fas fa-globe-asia"></i>Paramétres</a></li>
      <li><a href="#" style="font-family: Cambria"><i class="fas fa-envelope"></i>Se déconnecter</a></li>
      <div class="icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </ul>
  </nav>
</div>
<div class="btn" style="background-color:#854e56;color: white;font-family: Cambria;font-size:250%;width:100%;height:80%" >Bienvenue chez Bank of morocco</div>
</body>
</html>
<router-outlet>

</router-outlet>

