 <div class="row" style="background-color:lightgray">
   <div id="d11" class="col-md-6"><h1 ID="titre1" style="font-family: Cambria;"></h1>
     <p><img src="assets/images/img_1.png" style="width:80%;height:80%;border-radius: 2%"></p>
     <div style="background-color:white;border-radius: 2%;padding-left:4%"><div >
       <p style="height:20%;width:100%"><img src="assets/images/img_6-removebg-preview.png" style="border-radius: 2%;width:165%;padding-right:-20%"></p>
     </div></div>
   </div>
   <div> <h1 ID="titre3" style="font-family: Cambria;"></h1>
   <div id="d12" class="col-md-6">
     <h3 ID="titre2" style="font-family: Cambria;color:#614E1A">MES PAIEMENTS FAVORIS</h3>
     <h1 ID="titre5" style="font-family: Cambria;"></h1>
     <p>IAM : fixe Jawal </p>
     <p>IAM : Internet Jawal</p>
     <p>IAM : Mobile Sarah</p>
     <p>IAM : Fixe Telecom</p>
     <p>ALIEXPRESS : Routeur</p>
     <p>ALIEXPRESS : Cable RGA</p>
     <p>ALIEXPRESS : AirPods</p>
     <p>ALIEXPRESS : Porte-cartes de crédit</p><br>
     <p ><button STYLE="color:white;font-size:160% ;font-family: Cambria;background-color:#854e56 " class="btn" >Ajouter un Favoris</button></p>

   </div>

 </div>

 </div>
